@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    transition: 300ms ease-in-out;
}
:root{
    --primary: rgb(245, 212, 64);
    --secondary: #0D98BA;
}
p{
    color: white;
}
.content-container{
    background-image: url('./Assets/background.jpeg');
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px)
}
.container{
    position: relative
}
.full{
    height: 100vh;
}
.w-full{
    width: 100%;
}
.rounded{
    border-radius: 200px;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.center{
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 64px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: white;
    animation: 300ms ease-in-out 0s slide-from-bottom;
}
.subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    color: white;
    font-weight: 400;
    animation: 300ms ease-in-out 200ms forwards slide-from-left;
    opacity: 0;
}
.gap{
    gap: 10px;
}
.text-center{
    text-align: center;
}
.chip{
    display: inline-block;
    margin: 5px 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #333;
    border: 1px solid rgb(245, 212, 64);
    border-radius: 20px;
    background-color: rgb(245, 212, 64);
    padding: 5px 15px 7px 15px;
    opacity: 0;
    transition: 300ms ease-in-out;
}
.chip:hover{
    scale: 1.2;
}
.btn{
    padding: 15px;
    border: 2px solid white;
    border-radius: 15px;
    font-weight: 900;
    color: white;
    text-align: center;
}
.number-roll{
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid white;
}
.animated{
    animation: 300ms ease-in-out forwards slide-from-bottom;
}
.m-4{
    margin: 20px 0px;
}
.mt-4{
    margin-top: 20px;
}
.mt-5{
    margin-top: 50px;
}
.preview-reward{
    border: 1px solid white;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-bottom: 1px solid transparent;
    height: 50px;
    padding: 0px 50px;
    border-radius: 100px;
    margin: 15px 0px 10px 0px;
    font-size: 18px;
    overflow: hidden;
    transition: 300ms ease-in-out;
    cursor: pointer;
}
.preview-reward:hover{
    background-color: var(--primary);
    border: 1px solid var(--primary);
}
.all-rewards:hover{
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}
.preview-reward:hover .hover-text{
    translate: 0px -12.8px;
}
.all-rewards:hover .hover-text{
    color: white;
    translate: 0px -15px;
}
.preview-text{
    position: relative;
    transition: 300ms ease-in-out;
}
.preview-reward:hover .preview-text, .all-rewards:hover .preview-text{
    translate: 0px -50px;
}
.hover-text{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    translate: 0px 20px;
    transition: 300ms ease-in-out;
    color: #333;
}
.all-rewards-container{
    padding: 20px;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.all-rewards{
    height: 50px;
    padding: 0px 15px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    opacity: 0;
    transition: 300ms ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.rewards{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.btn{
    transition: 200ms ease-in-out;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--secondary);
    border: 2px solid var(--secondary)
}
@keyframes slide-from-bottom {
    from{
        opacity: 0;
        translate: 0px 30px;
    }
    to{
        opacity: 1;
        translate: 0px 0px;
    }
}
@keyframes slide-from-left {
    from{
        opacity: 0;
        translate: -30px 0px;
    }
    to{
        opacity: 1;
        translate: 0px 0px;
    }
}
@media screen and (max-width: 780px) {
    .content-container{
        padding: 40px 50px !important;
    }
    .flex{
        flex-direction: column;
    }
    .title{
        font-size: 48px;
        line-height: 40px;
    }
    .p-4{
        padding: 0px 50px;
    }
    .rewards{
        width: 100%;
    }
    .preview-reward{
        margin: 15px 0px 10px 0px;
    }
    .all-rewards{
        padding: 0px 30px;
    }
}
